h1, p {
    text-align: center;
}

.ninja-list {
    width: 100px;
    margin: 0 auto;
}

.ninja {
    padding: 10px 0;
}

button {
    background: steelblue;
    color: white;
    height: 20px;
    border: none;
    margin: 5px;
    font-size: .75rem;
    border-radius: 5px;
}

.form-container {
    width: 200px;
    padding-top: 30px;
    margin: 0 auto;
}

form {
    width: 200px;
}

label {
    padding-right: 10px;
}